.certificate-wrapper {
  width: 800px;
  height: 600px;
  padding: 40px;
  background: #fff;
  border: 10px solid #000;
  text-align: center;
  color: #000;
}

.certificate-border {
  border: 4px solid #999;
  height: 100%;
  padding: 30px;
}

.title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.certificate-wrapper p {
  margin-top: 20px;
}

.username {
  font-family: "Orbitron", sans-serif;
  margin-top: 20px;
  font-size: 35px;
}

.module {
  font-family: "Orbitron", sans-serif;
  margin-top: 20px;
  font-size: 28px;
  color: #222;
}

.date {
  margin-top: 25px;
  font-size: 18px;
}

.line {
  width: 150px;
  border-bottom: 2px solid #000;
  margin: 10px auto;
}

.signatures {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  font-size: 14px;
}
